
html body{

    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar"
    "main"
    "footer";
    color: white;
    font-family: "Inter", sans-serif;
    
}
nav{
    top: 0;
    position: sticky;
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #292929;
    
}
nav ul {
    /* Layout & positioning */
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
nav a {
    /* Typography */
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: rgb(198, 198, 198);
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 2fr;
    grid-template-areas:
    "welcome"
    "service";
}
main .welcome-page{
    grid-area: welcome;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
}
.welcome-page .text-box{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 20%;
}
.welcome-page .image-box{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    overflow: hidden;
}
.image-box img{
    width: 400px;
    height: auto;
}
main .service-page{
    grid-area: service;
    background-color: blue;
}
/*
.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1064px;
    height: 668px;
    left: calc(50% - 1064px/2 - 14px);
    top: 128px;
    background: linear-gradient(108.13deg, rgba(217, 217, 217, 0.1) 7.95%, rgba(255, 255, 255, 0.4) 87.36%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 63px;
}
.big-eclipse{
    border-radius: 100%;
    position: absolute;
    width: 1280px;
    height: 1280px;
    top: 100px;
    z-index: -1;
    background: linear-gradient(218.3deg, #F5E6C5 6.4%, #F56E1F 88.78%);
}
.medium-eclipse{
    border-radius: 100%;
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 3000px;
    left: -500px;
    z-index: -1;
    background: linear-gradient(218.3deg, #F5E6C5 6.4%, #F56E1F 88.78%);
}
.small-eclipse{
    border-radius: 100%;
    position: absolute;
    width: 700px;
    height: 700px;
    top: 2000px;
    left: 800px;
    z-index: -1;
    background: linear-gradient(218.3deg, #F5E6C5 6.4%, #F56E1F 88.78%);
}*/
footer{
    background-color: rgb(104, 104, 104);
    grid-area: footer;
    padding: 1em;
}

