
html body{
    /* Layout & positioning */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

     /* Visuals */
    background-color: orange;

    /* Typography */
    font-family: "Inter", sans-serif;
    color: white;
    
}
#navigation-bar {
    /* Layout & positioning */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;

    /* Visuals */
    background-color: #333;
}
#navigation-bar ul {
    /* Layout & positioning */
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
#navigation-bar a {
    /* Typography */
    color: white;
    text-decoration: none;
}
#navigation-bar a:hover {
    color: rgb(198, 198, 198);
}
.welcome-page{
    /* Layout & positioning */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;

    /* Visuals */
    background-color: black;
}
.welcome-page .image-box, .text-box{
    /* Layout & positioning */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow: hidden;
}
.welcome-page .image-box img{
    flex-wrap: wrap;
    max-width: 500px;
}
.welcome-page .text-box p, h1{
    /* Layout & positioning */
    margin: 0;
    font-size: 50px;
    padding-left: 25%;
}


