
html body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    background-color: orange;
}
#navigation-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #333;
    color: white;
    margin: 0;
}
#navigation-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
#navigation-bar a {
    color: white;
    text-decoration: none;
}
#navigation-bar a:hover {
    color: rgb(198, 198, 198);
}
.welcome-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: black;
}
.welcome-page p, h1{
    color: white;
    font-size: 30px;
    text-align: center;
}
